albumentations==1.3.0
evaluate==0.4.0
fastapi==0.95.1
flask==2.3.2
focal-loss==0.0.7
focal-loss-torch==0.1.2
geventhttpclient==2.0.2
google-api-python-client==2.86.0
logult==0.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
onnx==1.13.1
onnxruntime-gpu==1.14.1
opencv-python==4.7.0.72
optimum==1.8.5
pip-chill==1.0.3
pymysql==1.0.3
python-multipart==0.0.6
python-telegram-bot==20.3
pytorch-lightning==1.9.0
pytube==15.0.0
safetensors==0.3.1
sentencepiece==0.1.99
telegram==0.0.1
timm==0.6.12
triton==2.0.0
triton-model-analyzer==1.27.0
unidecode==1.3.6
uvicorn==0.22.0
yt-dlp==2023.3.4
